<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav [mode]="isSmallScreen ? 'over' : 'side'" [opened]="!isSmallScreen" class="sidenav">
    <div class="list-title">
      My Lists
      <button mat-icon-button class="add-button" (click)="onAddList()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <mat-nav-list>
      <a mat-list-item *ngFor="let list of lists" (click)="onSelectList(list)" [style.background]="selectedList?._id === list._id ? '#3f51b5' : ''" [style.color]="selectedList?._id === list._id ? 'white' : 'black'" [style.boxShadow]="selectedList?._id === list._id ? '0.5px 0.5px 5px gray' : ''">
        <div class="display-item">
          <span>{{ list?.title }}</span>
          <span>{{ list?.taskCount || 0 }}</span>
        </div>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button *ngIf="isSmallScreen" mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="todo-header">{{ selectedList?.title }}</span>
      <span class="spacer"></span>
      <div class="view-toggle">
        <button mat-icon-button class="add-button" (click)="addNewTask()">
          <mat-icon>add</mat-icon>
        </button>
        <button *ngIf="viewMode == 'grid' && !this.isSmallScreen" mat-icon-button (click)="toggleView('list')">
          <mat-icon>view_list</mat-icon>
        </button>
        <button *ngIf="viewMode == 'list' && !this.isSmallScreen" mat-icon-button (click)="toggleView('grid')">
          <mat-icon>grid_view</mat-icon>
        </button>
      </div>
    </mat-toolbar>

    <div>
      <ng-container *ngIf="isLoading">
        <app-spinner></app-spinner>
      </ng-container> 
      <ng-container *ngIf="!isLoading">
        <app-task-list [selectedTasks] = "selectedTasks" [viewMode]="viewMode" (modifyTask)="modifyTask($event)" ></app-task-list>
      </ng-container> 
      
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
